 <!-- <img mat-card-image src="../../../assets/{{home1}}.png" width="100%" class="img"> -->
 <div class="img1">
<img mat-card-image src="../../../assets/home2.jpg" width="100%" class="img">
<p id="j">A journey</p>
<br><br><br><br><br><br>
<p id="a">around the world</p>
</div>
<div class="contect">
<div class="container">
    <h1>Contact Us</h1>
    <div class="line"></div>
    <form>
      <label for="name">Name</label>
      <input type="text" id="name" name="name" placeholder="Your name..">
  
      <label for="phone">Phone</label>
      <input type="text" id="phone" name="phone" placeholder="Your phone number..">
  
      <label for="email">Email</label>
      <input type="text" id="email" name="email" placeholder="Your email..">
  
      <label for="message">Message</label>
      <textarea id="message" name="message" placeholder="your message.." style="height:200px"></textarea>
      <button type="submit">Contact</button>
    </form>
  </div>
</div>
<div class="map">
    <img mat-card-image src="../../../assets/map.png" width="100%" height="20px" class="map">
</div>
